<form (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm">
    <div>
        <label for="id">Id</label>
        <input type="text" name="id" placeholder="Digite seu id" formControlName="id" required>
        <div *ngIf="id.invalid && formDir.submitted">
            <p *ngIf="id.errors?.['required']">Campo id é obrigatório!</p>
        </div>
    </div><div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" placeholder="Digite seu nome" formControlName="nome" required>
        <div *ngIf="nome.invalid && formDir.submitted">
            <p *ngIf="nome.errors?.['required']">Campo nome é obrigatório!</p>
        </div>
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="Digite o seu e-mail" formControlName="email" required>
        <div *ngIf="email.invalid && formDir.submitted">
            <p *ngIf="email.errors?.['required']">Campo email é obrigatório!</p>
        </div>
    </div>
    <div>
        <label for="password">Senha</label>
        <input type="password" name="password" placeholder="Digite a senha" formControlName="password" required> 
        <div *ngIf="password.invalid && formDir.submitted">
            <p *ngIf="password.errors?.['required']">Campo senha é obrigatório!</p>
        </div>
    </div>
    <input type="submit" value="Cadastrar">
</form>
